textarea {
    min-height: 400px;
}
#compose-view {
    background-color: #e6e6e6;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


.email {
    border-bottom: 1px solid #ddd;
    display: flex;
    padding: 10px 0;
}

.email:last-child {
    border-bottom: none;
}
.email-container {
    border: 2px solid #000; /* Add a solid black border with 2px width */
    padding: 5px; /* Add inside padding */
    gap: 10px; /* Optional: Add space between flex items */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.email-items {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid rgb(217, 217, 217);
}

.email-items:hover {
    background-color: #f0f0f0; /* Change background color on hover */
    cursor: pointer; /* Change cursor to pointer */
}

.timestamp {
    align-self: flex-end;
    margin-left: auto;
    color: grey;
}

.sender {
    font-weight: bold;
}